.content {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 80vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}

input {
    color: #fff;
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 80%;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    color: #fff;
}

.profile {
    display: flex;
    margin: 30px;
}

.profile .photo {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
}

.profile h3 {
    color: #999999;
    font-size: 24px;
}

.profile span {
    display: block;
    color: #999999;
    font-size: 12px;
}

.profile p {
    color: #999999;
    font-size: 12px;
    margin-top: 20px;
}

h4 {
    font-size: 32px;
    color: #fff;
    margin: 12px 0;
    text-align: center;
}